body{
    padding: 0;
}
.lista{
    display: flex;
    width: 50%;
    justify-content: space-around;   
}
.lista p{
    width:60%;
    height:25px;
    padding: 0;
    margin: 0;
}
.lista button{
    height:25px;
}